{% extends 'base/base.html' %}
{% block navbar %}
{% endblock %}
{% block content %}
<p>Recuperar contraseña</p>
<form method="post" class="form-horizontal col-lg-6 col-md-offset-3 well">
	{% csrf_token %}
	<fieldset>
		<legend>Registrar</legend>
		<div class="form-group">
			<label class="col-lg-4 control-label">Correo electronico</label>
			<div class="col-lg-6">
        		<input type="text" name="email" class="form-control">
      		</div>
		</div>
		<div class="form-group">
			<div class="col-lg-12 col-lg-offset-1">
				<button type="submit" class="btn btn-info">Enviar</button>	
			</div>
			
		</div>
		

	</fieldset>
</form>
{% endblock %}