{% extends 'base/base.html' %}
{% block title %}
Mascotas
{% endblock %}
{% block navbar %}
{% endblock %}
{% block content %}
<form method="post" class="form-horizontal col-lg-6 col-md-offset-3 well">
	{% csrf_token %}
	<fieldset>
		<legend>Inicio de sessión</legend>
		
		<div class="form-group">
			<label class="col-lg-4 control-label">Nombre de Usuario</label>
			<div class="col-lg-6">
        		<input type="text" name="username" class="form-control">
      		</div>
		</div>

		<div class="form-group">
			<label class="col-lg-4 control-label">Contraseña</label>
			<div class="col-lg-6">
        		<input type="password" name="password" class="form-control">
      		</div>
		</div>

		<div class="form-group">
			<div class="col-lg-12 col-lg-offset-1">
				<a href="{% url 'password_reset' %}">Olvidé mi contraseña</a>
				<button type="submit" class="btn btn-info">Entrar</button>	
			</div>
		</div>

	</fieldset>
</form>
{% endblock %}